BIG.mat
Merged123_noICA.mat
KOS_DAS_80Hz.mat
Merged123_ICA.mat
DAS_1_ica.mat
KOS_DAS_80Hz_1.set
KOS_DAS_80Hz_1.mat
new_kos_das.mat
EEG_big4CNN_1subj.mat
KOS1+2_80Hz.set
KOS_23_NOICA.mat
KOS_23_-ICA.mat
EEG_KOS_1+2.mat
KOS_1+2_80Hz.mat
speech_data_2.mat
EEG_data.mat
EEG_data_KOS_1+2.mat
ksenia1.mat
BOC.mat
KOS_23.mat
EEG.mat
ksenia2_long_chunked_FD.mat
ks.mat
silence.wav
ksenia2_long_chunked.mat
ksenia2_long.mat
dat.csv
ks_FD.mat
ks_2TD.mat
Attn_Detect_5050.m~
Ivan_15jan/Iv1.set
Ivan_15jan/Iv2.set
Ivan_15jan/Iv3.set
Roma_15jan/Ro1.set
Roma_15jan/Ro2.set
Roma_15jan/Ro3.set
Roma_15jan/Ro4.set
Roma_15jan/Ro5.set
bias_after_adjust
binica6324.sc
binica6324.sph
binica6324.wts
binica8147.sc
binica8147.sph
binica8147.wts
binica9058.sc
binica9058.sph
binica9058.wts
